<div class="d-flex justify-content-between p-2">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
</div>
<div class="card">
  <% @restaurant.reviews.each do |review| %>
 <div class="d-flex justify-content-between p-2 border-bottom">
   <h6><%= review.content %></h6>
   <p><%= review.rating %>/5</p>
 </div>
<% end %>
 <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "p-2" %>
</div>


